@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a responsive application of a to do list, click on My to do list up  on the navigation bar to check it out</p>
</div>
