@model IEnumerable<MyToDoes.Models.ToDo>


<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.Id, @class = "checkIfDone" })
                </td>

                <td>

                    @if (item.IsDone)
                    {
                        <div class="doneItem">

                            @Html.DisplayFor(modelItem => item.Description)

                        </div>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.Description)

                    }

                </td>

                <td class="text-center">
                    <button class="btn" onclick="DeleteItem('@item.Id');"><i class="far fa-trash-alt"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/CheckBoxListener.js"></script>