@model MyToDoes.Models.ToDo

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">My To Does</h1>
<br />




<form asp-controller="ToDoes" asp-action="Create" method="POST" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#tableDiv" data-ajax-success="this.reset();">
    <input asp-for="Description" class="form-control" placeholder="new to do..." />
</form>

<br />
<div id="tableDiv"></div>

@section Scripts{
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="~/js/DeleteItem.js"></script>
    <script src="~/js/BuildTable.js"></script>

}